src/srw-ports.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- ZiNG SRU/SRW WSDL Specification                   -->
<!-- Version 1.1                                       -->
<!-- 10 May 2004                                       -->
<definitions xmlns:srw="http://www.loc.gov/zing/srw/" xmlns:srw-interfaces="http://www.loc.gov/zing/srw/interfaces/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xcql="http://www.loc.gov/zing/cql/xcql/" xmlns:diag="http://www.loc.gov/zing/srw/diagnostic/" xmlns:xsort="http://www.loc.gov/zing/srw/xsortkeys/" targetNamespace="http://www.loc.gov/zing/srw/interfaces/" name="SRW">
<!--
  This violates WS-I but some SOAP toolkits may need this
  Uncomment if necessary
  
  <import namespace="http://www.loc.gov/zing/srw/" location="srw-types.xsd"/>
-->
  <types>
    <xsd:schema>
      <xsd:import namespace="http://www.loc.gov/zing/srw/" schemaLocation="srw-types.xsd"/>
    </xsd:schema>
  </types>
  <message name="SearchRetrieveRequestMessage">
    <part name="body" element="srw:searchRetrieveRequest"/>
  </message>
  <message name="SearchRetrieveResponseMessage">
    <part name="body" element="srw:searchRetrieveResponse"/>
  </message>
  <message name="ScanRequestMessage">
    <part name="body" element="srw:scanRequest"/>
  </message>
  <message name="ScanResponseMessage">
    <part name="body" element="srw:scanResponse"/>
  </message>
  <message name="ExplainRequestMessage">
    <part name="body" element="srw:explainRequest"/>
  </message>
  <message name="ExplainResponseMessage">
    <part name="body" element="srw:explainResponse"/>
  </message>
  <portType name="SRWPort">
    <operation name="SearchRetrieveOperation">
      <input message="srw-interfaces:SearchRetrieveRequestMessage"/>
      <output message="srw-interfaces:SearchRetrieveResponseMessage"/>
    </operation>
    <operation name="ScanOperation">
      <input message="srw-interfaces:ScanRequestMessage"/>
      <output message="srw-interfaces:ScanResponseMessage"/>
    </operation>
  </portType>
  <portType name="ExplainPort">
    <operation name="ExplainOperation">
      <input message="srw-interfaces:ExplainRequestMessage"/>
      <output message="srw-interfaces:ExplainResponseMessage"/>
    </operation>
  </portType>
</definitions>
